                <%= form_for(idea, remote: true, url: {controller: "ideas", action: "create"}, html: {class: "pure-form"}) do |f| %>
                    <input id="idea_categoria" name="idea[categoria_id]" value="" type="hidden">
                    <%= f.text_area :texto, rows: 1, class: "pure-input-3-4" %>
                    <%= submit_tag "Publicar", class: "pure-button pure-button-primary" %> 
                    <div class="etiquetas-slider-wrapper">
                        <div class="etiquetas-slider">
                            <a href="" class="categoria comida-bebida" data-category="1">Comida/Bebida</a>
                            <a href="" class="categoria capacitaciones" data-category="2">Capacitaciones</a>
                            <a href="" class="categoria recreacion" data-category="3">Recreación</a>
                            <a href="" class="categoria edificio" data-category="4">Edificio</a>
                            <a href="" class="categoria comunicacion" data-category="5">Comunicación</a>
                            <a href="" class="categoria beneficios" data-category="6">Beneficios</a>
                            <a href="" class="categoria insumos" data-category="7">Insumos</a>
                        </div>
                    </div>
                <% end %>