            <article id="idea_<%= idea.id %>" class="idea">
                <div class="content">
                    <span class="text"><%= idea.texto %></span>
                </div>
            </article>
                        