<h1>Ideas!</h1>
<p>Este archivo esta en app/views/ideas/index.html.erb</p>

<% @all.each do |idea| %>
    <div>
        <p><%= idea.texto %>, por: <%= idea.persona.nombre %></p>
    </div>
<% end %>

