    <div class="container pure-g">
        <header class="pure-u-1">
            <h1 class="title">Expresómetro</h1>
            <img src="<%= image_path("mural.png") %>" alt="">
        </header>
        <section class="grid pure-u-1 form">
            <div class="pure-form">
                <%= render partial: 'form', locals: { idea: @idea} %>
            </div>
            <% flash.each do |name, msg| %>
                <%= content_tag :div, msg, class: "ui alert" %>
            <% end %>
            </aside>
        </section>
        <section class="grid pure-u-1 ideas-wrapper">
            <div class="ideas">
                <% @ideas.each do |idea| %>
                    <%= render partial: 'idea', locals: { idea: idea} %>
                <% end %>
            </div>
         </section>
    </div>