    <div class="container pure-g">
        <header class="pure-u-1">
            <h1 class="title">Expresómetro</h1>
            <img src="<%= image_path("mural.png") %>" alt="">
        </header>
        <section class="grid pure-u-1 form">
            <%= render partial: 'form', locals: { idea: @idea} %>
            <% flash.each do |name, msg| %>
                <%= content_tag :div, msg, class: "ui alert" %>
            <% end %>
            </aside>
        </section>
        <section class="pure-u-1 pure-menu pure-menu-horizontal filtros">
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="" class="pure-menu-link todas">Todas</a></li>
                <li class="pure-menu-item"><a href="" class="pure-menu-link mas-votadas">Más Votadas</a></li>
                <li class="pure-menu-item"><a href="" class="pure-menu-link mas-nuevas">Más Nuevas</a></li>
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a href="" id="etiquetas-nav" class="pure-menu-link">Etiqueta</a>
                    <ul class="pure-menu-children etiquetas">
                        <li class="pure-menu-item"><a href="" class="pure-menu-link comida-bebida" data-filter=".comida-bebida">Comida/Bebida</a></li>
                        <li class="pure-menu-item"><a href="" class="pure-menu-link capacitaciones" data-filter=".capacitaciones">Capacitaciones</a></li>
                        <li class="pure-menu-item"><a href="" class="pure-menu-link recreacion" data-filter=".recreacion">Recreación</a></li>
                        <li class="pure-menu-item"><a href="" class="pure-menu-link edificio" data-filter=".edificio">Edificio</a></li>
                        <li class="pure-menu-item"><a href="" class="pure-menu-link comunicacion" data-filter=".comunicacion">Comunicación</a></li>
                        <li class="pure-menu-item"><a href="" class="pure-menu-link beneficios" data-filter=".beneficios">Beneficios</a></li>
                        <li class="pure-menu-item"><a href="" class="pure-menu-link insumos" data-filter=".insumos">Insumos</a></li>
                    </ul>
                </li>
            </ul>
        </section>
        <section class="grid pure-u-1 ideas-wrapper">
            <div class="ideas">
                <div class="item-sizer"></div>
                <div class="gutter-sizer"></div>
                <% @ideas.each do |idea| %>
                    <%= render partial: 'idea', locals: { idea: idea} %>
                <% end %>
            </div>
         </section>
    </div>