                    <div class="comentario">
                        <div class="nombre"><%= comentario.persona.nombre %></div>
                        <div class="texto"><%= comentario.texto %></div>
                    </div>