    <div>
        Hi <%= @given_name %><br>
        Your email is <%= @email %><br>
        Your address is <%= @address[:street_address] %><br>
        Your postal code is <%= @address[:postal_code] %>
    </div>