/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require semantic_ui/semantic_ui
 */

body {
  background-color: #FFFFFF;
}

::-webkit-scrollbar {
  display: none;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  &:before, &:after {
    box-sizing: inherit;
  }
}

#main {
  margin : 0;
  min-height: 100%;
  > .row {
    padding: 0;
  }
}

#center > .ui.grid {
  min-height: 100% !important;
  padding-bottom: 3%;
}

/* right side context */

#right {
  background: whitesmoke;
  padding: 1%;
  
  .avatar {
      height: 35px;
  }
}

/* left side navigation */

#left {}

.pusher {
  transform: translate3d(250px, 0, 0) !important;
}

#center {
  .divided.items {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .ui.divided.items > .item {
    padding: 1em 0em 0.6em 0em;
  }
  .row.link.item {
    position: relative;
    padding-left: 30px !important;
    padding-right: 20px !important;
    .description, .content .header {
      padding-top: 0.2em;
    }
    &:first-of-type {
      padding-top: 35px !important;
    }
  }
  .vote {
    margin: -0.45em 0.9em 0 0;
    &.card {
      .label {
        font-size: 2em;
        text-align: center;
        padding: 7px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom: none;
        width: 75px;
      }
      .button {
        width: 73px;
        padding: 5px;
        margin-left: 1px;
      }
    }
  }
}

.comments .fitted.divider {
  margin-top: 1em;
}

.idea-active {
    background-color: lightgoldenrodyellow !important;
}