.categoria, .etapa {
   color: #777;
   font-family: 'GothamRoundedMedium' !important;
   text-decoration: none;
}

.categoria:visited, .etapa:visited {
    text-decoration: none;
    color: #777;
}

.categoria:active, .etapa:active {
    text-decoration: none;
    color: black;
}

.etiquetas-slider-wrapper {
    width: calc(99% - 201px);
    padding: 0px 20px 0px 20px;
    background-color: white;
    font-family: 'GothamRoundedMedium';
    font-weight: 500;
    font-size: 18px;
}

.etiquetas-slider {
    width: 100%;
    padding: 10px 5px 10px 5px;
    border-top: 2px solid #aaa;
}

.etiqueta-active {
    color: black !important;
}