/*
    Grilla de ideas (página de ideas)
*/

.ideas-wrapper {
    width: 100% !important;
    min-height: 50vh;
    margin: 0;
}

.ideas-wrapper .ideas {
    display: block !important;
    margin: 0 auto;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 40px;
}

.ideas-wrapper .ideas:after {
  content: '';
  display: block;
  clear: both;
}

.ideas-wrapper .ideas .gutter-sizer {
    width: 2%;
}

 .ideas-wrapper .ideas .item-sizer, .ideas-wrapper .ideas article.idea {
    width: 23.49%;
}

@media (max-width: 1300px) {
   .ideas-wrapper .ideas .item-sizer, .ideas-wrapper .ideas article.idea {
        width: 32%;
    }
}

@media (max-width: 900px) {
   .ideas-wrapper .ideas .item-sizer, .ideas-wrapper .ideas article.idea {
        width: 49%;
    }
}

@media (max-width: 500px) {
   .ideas-wrapper .ideas .item-sizer, .ideas-wrapper .ideas article.idea {
        width: 96%;
    }
}

section.ideas-wrapper .ideas article.idea {
    float: left;
    background: #fff;
    min-height: 100px;
    padding: 20px 20px 0px 20px;
    margin-top: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
    font-family: 'GothamRoundedMedium';
	font-style: normal;
	font-variant: normal;
}

section.ideas-wrapper .ideas article.idea:before {
    content: ' ';
    display: table;
}

article.idea .content {
    padding: 5px 0px 0px 0px !important;
    background-color: white !important;
}

section.ideas-wrapper .ideas article.idea .content {
    height: 100px;
    margin-bottom: 15px;
    font-weight: 500;
}

article.idea .content a {
    width: inherit;
    height: inherit;
    display: table-cell;
    text-decoration: none;
    color: black;
}

article.idea .content a:visited {
    color: black;
}

article.idea .content::selection {
    background: #ffc403;
}

article.idea .metadata {
    margin-top: 25px;
    font-family: 'GothamRoundedBook' !important;
    font-size: 16px;
	line-height: 17px;
    float: left;
}

article.idea .actionables {
    margin-top: 25px;
    margin-bottom: 10px;
    float: right;
}

article.idea .actionables a {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

article.idea .actionables a img {
    vertical-align: bottom;
}

article.idea .actionables .votos {
    display: inline-block;
    font-family: 'GothamRoundedBold' !important;
    font-size: 18px;
	line-height: 18px;
    vertical-align: middle;
}

article.idea .area {
	font-family: 'GothamRoundedMedium' !important;
    text-transform: uppercase;
}

section.ideas-wrapper .ideas article.idea:after {
    display: block;
    position: absolute;
    bottom: -26px;
    height: 0;
    width: 0;
    border-right: 15px solid #fff;
    border-left: 15px solid transparent;
    border-top: 14px solid #fff;
    border-bottom: 13px solid transparent;
    z-index: 0;
    content: ' ';
    left: 25px;
}

/*
    Idea individual (modal)
*/

#comments-modal {
    display: none;
}

.comments-modal > div, .comments-modal > article {
    width: 33vw;
}

.comments-modal article.idea {
    margin-bottom: 69px !important;
    padding: 25px;
    padding-bottom: 10px;
    min-width: 350px;
    background-color: #fff !important;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
}

.comments-modal article.idea .tags {
    
}

.comments-modal article.idea .tags a.content {
    
}

.comments-modal article.idea .content {
    margin-bottom: 20px;
    font-family: 'GothamRoundedMedium' !important;
    font-size: 2.7em;
    line-height: 1em;
}

.comments-modal article.idea .actionables {
    
}

.comments-modal article.idea .metadata, .comments-modal article.idea .actionables {
    
}

.comments-modal article.idea aside.metadata, .comments-modal .estado, .comentarios span.header, .comentarios .comentario {
    font-size: 22px;
    line-height: 23px;
}

.comments-modal article.idea aside.metadata .nombre {
    
}

.comments-modal article.idea:after {
    margin-top: 68px;
    display: block;
    position: fixed;
    height: 0;
    width: 0;
    border-right: 15px solid #fff;
    border-left: 15px solid transparent;
    border-top: 14px solid #fff;
    border-bottom: 13px solid transparent;
    z-index: 0;
    content: ' ';
    left: 25px;
}

.comments-modal .estado {
    min-width: 350px;
    clear: both;
    margin-top: -1px;
    padding: 25px;
    border-top: 2px solid #ccc;
    position: relative;
    background-color: #fff !important;
    z-index: 1;
}

.comments-modal .estado > .header, .comentarios span.header, .comentarios .comentario .nombre {
    font-family: 'GothamRoundedMedium' !important;
}

.comments-modal .estado .texto, .comments-modal .estado .nombre, .comentarios .comentario .texto, #new_comentario textarea {
    margin-top: 12px;
    font-family: 'GothamRoundedBook' !important; 
}

.comments-modal .estado .nombre {
    font-style: italic;
}