/*
    Grilla de ideas (página de ideas)
*/

.ideas-wrapper {
    width: 100% !important;
    margin: 0;
}

.ideas-wrapper .ideas {
    display: block !important;
    margin: 0 auto;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 40px;
}

.ideas-wrapper .ideas:after {
  content: '';
  display: block;
  clear: both;
}

.ideas-wrapper .ideas .gutter-sizer {
    width: 2%;
}

 .ideas-wrapper .ideas .item-sizer, .ideas-wrapper .ideas article.idea {
    width: 23.49%;
}

@media (max-width: 1300px) {
   .ideas-wrapper .ideas .item-sizer, .ideas-wrapper .ideas article.idea {
        width: 32%;
    }
}

@media (max-width: 900px) {
   .ideas-wrapper .ideas .item-sizer, .ideas-wrapper .ideas article.idea {
        width: 49%;
    }
}

@media (max-width: 500px) {
   .ideas-wrapper .ideas .item-sizer, .ideas-wrapper .ideas article.idea {
        width: 96%;
    }
}

section.ideas-wrapper .ideas article.idea {
    float: left;
    background: #fff;
    min-height: 100px;
    padding: 20px 20px 0px 20px;
    margin-top: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
    font-family: 'GothamRoundedMedium';
	font-style: normal;
	font-variant: normal;
}

section.ideas-wrapper .ideas article.idea:before {
    content: ' ';
    display: table;
}

section.ideas-wrapper .ideas article.idea .content {
    height: 100px;
    margin-bottom: 20px;
    font-weight: 500;
}

article.idea .content a {
    text-decoration: none;
}

article.idea .content a:visited {
    color: black;
}

article.idea .content::selection {
    background: #ffc403;
}

article.idea .metadata {
    margin-top: 20px;
    margin-bottom: 15px;
    font-family: 'GothamRoundedLight' !important;
    font-size: 16px;
	line-height: 17px;
    float: left;
}

article.idea .actionables {
    margin-top: 30px;
    margin-bottom: 10px;
    float: right;
}

article.idea .actionables a {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

article.idea .actionables a img {
    vertical-align: bottom;
}

article.idea .actionables .votos {
    display: inline-block;
    font-family: 'GothamRoundedBold' !important;
    font-size: 18px;
	line-height: 18px;
    vertical-align: middle;
}

article.idea .area {
	font-family: 'GothamRoundedBold' !important;
    text-transform: uppercase;
}

section.ideas-wrapper .ideas article.idea:after {
    display: block;
    position: absolute;
    bottom: -26px;
    height: 0;
    width: 0;
    border-right: 15px solid #fff;
    border-left: 15px solid transparent;
    border-top: 14px solid #fff;
    border-bottom: 13px solid transparent;
    z-index: 0;
    content: ' ';
    left: 25px;
}

/*
    Idea individual (modal)
*/

#comments-modal {
    display: none;
}

.comments-modal {
    width: 40vw;
    min-height: 300px;
    height: 30vh;
    min-width: 350px;
    padding: 20px;
    background-color: #fff !important;
    border-radius: 20px;
}

.comments-modal article.idea {
    
}

.comments-modal article.idea .tag {
    
}

.comments-modal article.idea .tag a.content {
    
}

.comments-modal article.idea .content {
    font-family: 'GothamRoundedMedium' !important;
    font-size: 3em;
    line-height: 1em;
}

.comments-modal article.idea .actionables {
    
}

.comments-modal article.idea .metadata {
    
}

.comments-modal article.idea aside.metadata .nombre {
    
}

.comments-modal article.idea aside.metadata .area {
    
}