.ideas-wrapper {
    width: 92% !important;
    margin: 0 4%;
}

.ideas {
    display: block !important;
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}

article.idea {
    background: #fff;
    width: 350px;
    padding: 20px 20px 0px 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-family: 'GothamRoundedMedium';
	font-style: normal;
	font-variant: normal;
}

article.idea:before {
    content: ' ';
    display: table;
}

article.idea .content {
    min-height: 100px;
    margin-bottom: 20px;
}

article.idea .content::selection {
    background: #ffc403;
}

article.idea .content .text {
	font-weight: 500;
}

article.idea .metadata {
    margin-top: 20px;
    margin-bottom: 15px;
    font-family: 'GothamRoundedLight' !important;
    font-size: 16px;
	line-height: 17px;
    float: left;
}

article.idea .actionables {
    margin-top: 30px;
    margin-bottom: 10px;
    float: right;
}

article.idea .actionables a {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

article.idea .actionables a img {
    vertical-align: bottom;
}

article.idea .actionables .votos {
    font-family: 'GothamRoundedBold' !important;
    font-size: 12px;
	line-height: 12px;
    display: inline-block;
}

article.idea .area {
	font-family: 'GothamRoundedBold' !important;
    text-transform: uppercase;
}

article.idea:after {
    display: block;
    position: absolute;
    bottom: -26px;
    height: 0;
    width: 0;
    border-right: 15px solid #fff;
    border-left: 15px solid transparent;
    border-top: 13px solid #fff;
    border-bottom: 13px solid transparent;
    z-index: 10;
    content: ' ';
    left: 25px;
}
