@font-face {
    font-family: 'GothamRoundedBold';
    src: font-url('fonts/gothamrnd-bold.eot');
    src: font-url('fonts/gothamrnd-bold.eot') format('embedded-opentype'),
         font-url('fonts/gothamrnd-bold.woff') format('woff'),
         font-url('fonts/gothamrnd-bold.ttf') format('truetype'),
         font-url('fonts/gothamrnd-bold.svg#GothamRoundedBold') format('svg');
}

@font-face {
    font-family: 'GothamRoundedBook';
    src: font-url('fonts/gothamrnd-book.eot');
    src: font-url('fonts/gothamrnd-book.eot') format('embedded-opentype'),
         font-url('fonts/gothamrnd-book.woff') format('woff'),
         font-url('fonts/gothamrnd-book.ttf') format('truetype'),
         font-url('fonts/gothamrnd-book.svg#GothamRoundedBook') format('svg');
}

@font-face {
    font-family: 'GothamRoundedMedium';
    src: font-url('fonts/gothamrnd-medium.eot');
    src: font-url('fonts/gothamrnd-medium.eot') format('embedded-opentype'),
         font-url('fonts/gothamrnd-medium.woff') format('woff'),
         font-url('fonts/gothamrnd-medium.ttf') format('truetype'),
         font-url('fonts/gothamrnd-medium.svg#GothamRoundedMedium') format('svg');
}

@font-face {
    font-family: 'GothamRoundedLight';
    src: font-url('fonts/gothamrnd-light.eot');
    src: font-url('fonts/gothamrnd-light.eot') format('embedded-opentype'),
         font-url('fonts/gothamrnd-light.woff') format('woff'),
         font-url('fonts/gothamrnd-light.ttf') format('truetype'),
         font-url('fonts/gothamrnd-light.svg#GothamRoundedLight') format('svg');
}

body {
    background: #ffc403;
    zoom: 1;
}

.container {
    width: 90%;
    margin-left: 5%;
    overflow: hidden;
}

header {
    float: left;
    position: relative;
    overflow: hidden;
    width: 100%;
}

header * {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
    margin-left: 6.5%;
}

header img {
    margin: 0 0 0 -2%;
    position: relative;
    top: 0;
    width: 105%;
}

header > h1 {
    position: absolute;
    top: 40%;
    z-index: 100;
    text-align: center;
    width: 100%;
}

header, section {
    margin-left: 0px !important;
}

section * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

section *::selection {
    background: #ffc403;
}

.title {
    font-family: 'GothamRoundedLight' !important;
    font-size: 3.2vw;
    font-weight: 100;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.form {
    margin: 0;
    width: 100%;
    display: block !important;
}

.pure-form {
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
    padding: 0 !important;
    
}

.pure-form input {
    display: table-cell;
    vertical-align: middle;
}

.pure-form .pure-input-3-4 {
    width: calc(99% - 201px);
    min-width: 365px;
    margin-top: 10px;
    margin-right: 1%;
    margin-left: 0px;
    padding: 0.5em 1em;
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    font-family: 'GothamRoundedMedium';
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    resize: none;
}

.pure-form .pure-button {
    width: 200px;
    margin-top: 10px;
    margin-right: 1px;
    background: black;
    border-radius: 0px;
    font-family: 'GothamRoundedMedium';
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.1em;
    vertical-align: middle;
}

.pure-form .pure-button:hover {
    color: #ffc403;
}

.filtros {
   margin-top: 30px;
   display: table;
   text-align: center;
   padding: 0 !important;
}

.filtros li a, .filtros li a:focus {
    color: white;
    background-color: black;
    font-family: 'GothamRoundedMedium';
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.05em;
}

.filtros li a:hover {
    color: black;
    background-color: white;
}

.filtros li a:active {
    color: black;
    box-shadow: inset 0px 0px 0px 3px black;
    background-color: white;
}

.noty_bar {
    background: black !important;
    font-family: 'GothamRoundedMedium';
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-top: 5px;
}

#noty_top_layout_container li {
    border: none !important;
    box-shadow: none !important;
}

/*
    Utility classes
*/

.slideUp {
  -webkit-transition: max-height 500ms ease;
  -moz-transition: max-height 500ms ease;
  -o-transition: max-height 500ms ease;
  transition: max-height 500ms ease;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -o-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  overflow: hidden;
  max-height: 0px;
}

.slideDown {
  -webkit-transition: max-height 1000ms ease;
  -moz-transition: max-height 1000ms ease;
  -o-transition: max-height 1000ms ease;
  transition: max-height 1000ms ease;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -o-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  max-height: 2000px;
}